@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Edu+SA+Beginner&family=Oswald&family=Pacifico&display=swap');


body{ 
    color: #000000;
font-family:Pacifico;
font: normal, 15px, sans-serif;max-width: 85%;
margin: auto;
margin-bottom: 20px;
padding: 20px;
background-image: url(https://i.pinimg.com/originals/b9/db/8c/b9db8ce782db60e6c4ae334070cb0f6f.png);}

.card1 {border: 2px solid rgba(0, 0, 139, 0);
border-radius: 10px;padding: 20px;background-color:rgba(73, 227, 219, 0.426);
display: flex}

.card2{border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
padding: 20px ;background-color:#5bcade9c; text-align: center;
display:flex;}


.table{margin: auto;}
.table th { padding: 5px;background-color: rgb(216, 249, 249); border-radius: 5%;}



.card3{ text-align: center;
    color: rgb(2, 2, 2);
    border: 2px solid rgba(75, 34, 34, 0);
    border-radius: 10px;padding: 20px;background-color:rgba(15, 149, 194, 0.66)}
/* body img{
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
border-radius: 100%;} */



.foto {width: 270px;box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 100%; margin-top: 20px;}

.foto2{height:250px;box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.781);margin-left: 30px; margin-right: 0; margin-bottom: 10px; margin-top: 10px; border-radius: 4%;}
.foto3{height:200px;box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.781);margin: 10px; border-radius: 4%;}


.btn{color: rgb(250, 250, 250);
        cursor: pointer;
        font-family: inherit;
        border: none;
       background-color: rgba(0, 0, 0, 0.667) ;
       padding: 10px 15px;
       margin-top: 7px;
       margin-right: 40px;
       width: 100%;
       height: 40px;
    }
    .btn:hover{opacity: 0.8;}
   a{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;;
    padding-left: 10px;
    color: rgb(33, 144, 203);
    text-decoration: none;}
    a:hover{opacity: 0.8;}
    a:visited{color: darkgrey;}

a:active{color: #000000;}





.A1 td{text-align: center;}
.A{text-align: left;}
.A h2{margin-right: 30px;
padding-top: 40px;}
.container{display:flex;
padding: 10px;}
.container div{padding: 20px;}


.form{display: flex;justify-content: center}
.form1 {padding: 0%; margin-top: 22px;}

@media(max-width:660px){.container{display: block;}}

@media(max-width:660px){.form{display: block;}}

@media(max-width:1000px){body{background-image: url(https://i.pinimg.com/originals/8d/2e/2e/8d2e2e3a85d1d5d2938730d3dcaf0654.jpg)}}
@media(max-width:1200px){.card2{display: block;}}
